@model Dinamico.Models.ContentPage
@{
	Content.Define(re =>
	{
		re.Title = "Content page (right margin)";
	});
}

@section main {
	<div class="@Html.Resources().BootstrapRowClass()">
		<div class="@Html.Resources().BootstrapColumnClass(12, ResourcesExtensions.BootstrapScreenSize.xs)">
			@Content.Register.Title().Container("Content").Configure(e => e.CssClass = "entry-title").Display()
		</div>
	</div>
	<div class="@Html.Resources().BootstrapRowClass()">
		<div class="@Html.Resources().BootstrapColumnClass(8, ResourcesExtensions.BootstrapScreenSize.xs)">
			<div class="entry-content">
				@Content.Display.Text
			</div>
			@{ Html.DroppableZone("PostContent").Render(); }
		</div>
		<div class="@Html.Resources().BootstrapColumnClass(4, ResourcesExtensions.BootstrapScreenSize.xs)">
			@{ Html.DroppableZone("RecursiveRight").Render(); }
			@{ Html.DroppableZone("RightMargin").Render(); }
		</div>
	</div>
	<div class="@Html.Resources().BootstrapRowClass()">
		<div class="@Html.Resources().BootstrapColumnClass(12, ResourcesExtensions.BootstrapScreenSize.xs)">
			@{ Html.DroppableZone("BelowContent").Render(); }
		</div>
	</div>
}

@{ Html.DroppableZone("PostContent").Render(); }