@model IEnumerable<lcspto_mvc.content>
@{
    ViewBag.Title = "Index";
}
<h2>Edit Pages</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="datatable">
<thead>
<tr>
    <th>Parent </th>
    <th>PageName </th>
    <th>HtmlTitle </th>
    <th>
        <img src="@Url.Content("~/Assets/ElixCMS/images/lock.png")" alt="Login Required" />
    </th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.ParentPageName)</td>
    <td>@Html.DisplayFor(modelItem => item.PageName)</td>
    <td>@Html.DisplayFor(modelItem => item.HtmlTitle)</td>
    <td>@Html.DisplayFor(modelItem => item.LoginRequired)</td>
    <td nowrap="nowrap">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}
</tbody>
</table>
