@model IEnumerable<lcspto_mvc.news>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="datatable">
<thead>
<tr>
    <th>Category </th>
    <th>HeaderText </th>
    <th>PublishDate </th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.Category)</td>
    <td>@Html.DisplayFor(modelItem => item.HeaderText)</td>
    <td>@Html.DisplayFor(modelItem => item.PublishDate)</td>
    <td nowrap="nowrap">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}
</tbody>
</table>
