@model ElixCms.Areas.Admin.Models.UserAdministration.IndexViewModel
@{ ViewBag.Title = "User Administration"; }
@section head {
    <link href='@Url.Content("~/Assets/ElixCMS/css/MvcMembership.css")' rel="stylesheet" type="text/css" />
}
<h2>User Administration</h2>
<h3>Users</h3>
<div class="mvcMembership-allUsers">
    @if (Model.Users.Count > 0) { 
    <table class="datatable">
        <thead>
            <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th>Last Online</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users) { 
            <tr>
                <td>@Html.ActionLink(user.UserName, "Details", new { id = user.ProviderUserKey })</td>
                <td><a href="mailto:@user.Email">@user.Email</a></td>
                <td>@if (user.IsOnline) { <span class="isOnline">Online</span> }
                    else { <span class="isOffline">Offline for @{
                        var offlineSince = (DateTime.Now - user.LastActivityDate);
                        if (offlineSince.TotalSeconds <= 60) { <span>1 minute</span> }
                        else if (offlineSince.TotalMinutes < 60) { <span>@Math.Floor(offlineSince.TotalMinutes)
                        minutes </span> }
                        else if (offlineSince.TotalMinutes < 120) { <span>1 hour.</span> }
                        else if (offlineSince.TotalHours < 24) { <span>@(Math.Floor(offlineSince.TotalHours) + " hours.")
                    </span> }
                        else if (offlineSince.TotalHours < 48) { <span>1 day.</span> }
                        else { <span>@(Math.Floor(offlineSince.TotalDays) + " days.")</span> }}</span>}</td>
                <td>@user.Comment</td>
            </tr>
            }
        </tbody>
    </table>
    }
    else { 
        <p>No users have registered.</p>
    }
</div>
<h3>Roles</h3>
<div class="mvcMembership-allRoles">
    @if (Model.Roles.Count() > 0) { 
        <ul>
            @foreach (var role in Model.Roles) { 
                <li>
                    @Html.ActionLink(role, "Role", new { id = role })
                    @using (Html.BeginForm("DeleteRole", "UserAdministration", new { id = role })) { 
                        <input type="submit" value="Delete" />
                    }
                </li>
            }
        </ul>
    }
    else { 
        <p>No roles have been created.</p>
    }
    @using (Html.BeginForm("CreateRole", "UserAdministration")) { 
        <fieldset>
            <label for="id">Role:</label>
            @Html.TextBox("id")
            <input type="submit" value="Create Role" />
        </fieldset>
    }
</div>
<h3>New User</h3>
<div>
    @using (Html.BeginForm("CreateUser", "UserAdministration")) {
        <fieldset>
            <label for="username">Username:</label>
            @Html.TextBox("username")
            <label for="password">Password:</label>
            @Html.Password("password")
            <input type="submit" value="Create User" />
        </fieldset>
    }
</div>
