@model lcspto_mvc.form

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>form</legend>

    <div class="display-label">FormName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FormName)
    </div>

    <div class="display-label">EmailResponsesTo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailResponsesTo)
    </div>

    <div class="display-label">SaveResponses</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SaveResponses)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
