@model lcspto_mvc.content

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>content</legend>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">PageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PageName)
    </div>

    <div class="display-label">HtmlTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HtmlTitle)
    </div>

    <div class="display-label">HtmlText</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HtmlText)
    </div>

    <div class="display-label">LoginRequired</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoginRequired)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
