@model IEnumerable<lcspto_mvc.content>
@{
    ViewBag.Title = "Index";
}

<table><tr><td>

<h2>Edit Pages</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="datatable">
<thead>
<tr>
    <th>Parent </th>
    <th>PageName </th>
    <th>HtmlTitle </th>
    <th>
        <img src="@Url.Content("~/Assets/ElixCMS/images/lock.png")" alt="Login Required" />
    </th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
<tr>
    <td>@Html.DisplayFor(modelItem => item.ParentPageName)</td>
    <td>@Html.DisplayFor(modelItem => item.PageName)</td>
    <td>@Html.DisplayFor(modelItem => item.HtmlTitle)</td>
    <td>@Html.DisplayFor(modelItem => item.LoginRequired)</td>
    <td nowrap="nowrap">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}
</tbody>
</table>

</td><td valign="top">

<div class="warning" style="width: 200px;">
    <p><b>Pages</b> are documents that contain static content. Each page is
    wrapped in the site layout template.</p>

    <p>Pages can be structured in a hierarchy. If the <b>Parent</b> field on 
    a page maps to the <b>PageName</b> of another page, then a link to the
    <b>PageName</b> page will be displayed on the <b>Parent</b> page. The pages at the top
    of the hierarchy should have a parent of <b>Default</b>. </p>
</div>

</td></tr></table>