@model IEnumerable<lcspto_mvc.calendaritem>
@{
    ViewBag.Title = "Calendar";
}

<style type="text/css">
.month { display: block; width: 14em; border: 1px solid gray; padding: 0.7em; margin: 0 0.5em 0.5em 0; float: left; }
.month>div:first-child { font-weight: bold; font-size: 130%; margin-right: 1em; }

.month>table 
{ border: 0 none; border-collapse: separate; }

.month>table>tbody>tr>td 
{ padding: 0; margin: 0 1em; }

.month>table>tbody>tr>td:first-child 
{ color: green; background: #EAFFD6; padding: 0.3em; margin-right: 0.3em;
  font-size: 150%; vertical-align: top; text-align: right;  }

.month>table>tbody>tr>td
{ border-top: 1px dotted silver; }

</style>

<h2>Upcoming Events</h2>

@{
    var Months = new string[] { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" };
    var month_years = Model.GroupBy(a => a.Date.Year * 100 + a.Date.Month); // group by yyyymm
    var years = month_years.GroupBy(a => a.Key / 100); // truncate mm
}

@foreach (var year in years) { 
    <h1>@year.Key</h1>
    
    foreach (var month in year) { 
        <div class="month">
            <div>@Months[month.Key % 100 - 1]</div>
            <table cellspacing="2">
            <tbody>
            @foreach (var dayItem in month) {
                <tr><td>@dayItem.Date.Day</td><td>@dayItem.Name<br />@dayItem.Details</td></tr>
            }
            </tbody>
            </table>
        </div>
    }
 
    <div style="clear: both;"></div>   
}