@model lcspto_mvc.Areas.Admin.Models.EmailerModel
@{
    ViewBag.Title = "Emailer";
}

<h2>Send Email</h2>

@if (ViewBag.QueueLength > 0) {
<p>@ViewBag.QueueLength e-mails in queue. </p>
}


@using (Html.BeginForm()) {

    Html.EnableClientValidation(true);
    Html.ValidationSummary();

    <div>
    @Html.LabelFor(a=> a.Subject)
    @Html.EditorFor(a=> a.Subject)
    @Html.ValidationMessageFor(a => a.Subject)
    </div>

    <div>
    @Html.LabelFor(a=> a.Body)
    @Html.EditorFor(a=> a.Body)
    @Html.ValidationMessageFor(a=> a.Body)
    </div>

    <p>This e-mail will be sent to @ViewBag.RecipientCount recipients</p>
    
    <input type="submit" value="Send" />
}