@{
    ViewBag.Title = "Home Page";
}

<table border="0" cellpadding="4" cellspacing="0">
<tr>
<td valign="top" style="padding-right: 2em;">
    <h2>Latest News</h2>
    @{ 
        lcspto_mvc.news news = @ViewBag.FeaturedNews; 
        var md = new Markdown() ; 
    }

    <div class="article">
        <h3 style="margin: 0;">@news.HeaderText</h3>
        <p style="color: gray; margin-top: 0;">Posted @news.PublishDate.ToString("ddd MM/d")</p>
        @Html.Raw(md.Transform(news.ArticleContent))
    </div>

    <p>@Html.ActionLink("Older news content", "Index", "News", new { category="news", id="", Area = "" }, new { })</p>

</td>
<td class="scol">


<div class="cbox">
<p>Welcome to the LCS PTO Web site! We're still working on our web site so 
please bear with us in the meantime. </p>
</div>


<div class="cbox">
    <h2>Upcoming Events</h2>
    @if (ViewBag.UpcomingEvents != null) {
        foreach (lcspto_mvc.calendaritem x in ViewBag.UpcomingEvents) { 
    
            <p><b>@x.Date.ToShortDateString()</b>
                <br />@x.Name
            @if (!String.IsNullOrEmpty(x.Details)) {
                <br /><em>@Html.Encode(x.Details)</em>
            }
            </p>
        }
    }
    else { 
        <div class="message">
            <h2>Error</h2>
            <p>Failed to retrieve events.</p>
        </div>
    }
    <p>View more events on the @Html.ActionLink("Calendar", "Index", "Calendar").</p>
</div>

</td>
</tr>
</table>
